body {
  background-color: bisque;
}
.maintask {
  display: flex;
  background-color: white;
}
.title {
  border: none;
  width: 800px;
}
.maintask .star {
  margin-right: 5px;
  height: 5px;
}
/* Compiled CSS */